@using SharedLib
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="@($"https://t.me/{aboutBot?.Username}")" target="_blank">&#64;@aboutBot?.Username</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>