@using BlazorLib
@using SharedLib;
@using System.Net;
@using System.Security;

@inherits BlazorBusyComponentBaseModel

<h3>TestComponent</h3>
@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}
<MudStack Row="true">
    <MudSelect T="PortfolioStockSharpModel" @bind-Value="SelectedPortfolio" Label="Портфель" Variant="Variant.Outlined">
        @if (myPortfolios is not null && myPortfolios.Count() != 0)
        {
            @foreach (PortfolioStockSharpModel p in myPortfolios.ToArray())
            {
                <MudSelectItem T="PortfolioStockSharpModel" Value="p">
                    @p
                </MudSelectItem>
            }
        }
    </MudSelect>

    <MudSelect @bind-Value="SelectedBoard" Label="Площадка" Variant="Variant.Outlined">
        @if (myBoards is not null && myBoards.Count() != 0)
        {
            @foreach (BoardStockSharpModel b in myBoards)
            {
                <MudSelectItem Value="b">
                    @b
                </MudSelectItem>
            }
        }
    </MudSelect>

    <MudSelect T="InstrumentTradeStockSharpViewModel" @bind-Value="SelectedInstrument" Label="Инструмент" Variant="Variant.Outlined">
        @if (myInstruments is not null)
        {
            @foreach (InstrumentTradeStockSharpViewModel s in myInstruments.Where(x => SelectedBoard is null || (x.Board is not null && x.Board == SelectedBoard)))
            {
                <MudSelectItem T="InstrumentTradeStockSharpViewModel" Value="s">
                    @s
                </MudSelectItem>
            }
        }
        else
        {
            SelectedInstrument = null;
        }
    </MudSelect>
</MudStack>

@if (!string.IsNullOrWhiteSpace(SelectedInstrument?.Code))
{
    <MudStack Row="true">
        <MudSelect @bind-Value="orderTypeCreate" Label="Тип" Variant="Variant.Outlined">
            @foreach (OrderTypesEnum margin in Enum.GetValues(typeof(OrderTypesEnum)).Cast<OrderTypesEnum>())
            {
                <MudSelectItem Value="margin">@margin</MudSelectItem>
            }
        </MudSelect>
        <MudSelect @bind-Value="orderSideCreate" Label="Направление" Variant="Variant.Outlined">
            @foreach (SidesEnum margin in Enum.GetValues(typeof(SidesEnum)).Cast<SidesEnum>())
            {
                <MudSelectItem Value="margin">@margin</MudSelectItem>
            }
        </MudSelect>
        <MudNumericField @bind-Value="PriceNewOrder" Label="Цена" Variant="Variant.Outlined" Immediate />
        <MudNumericField @bind-Value="VolumeNewOrder" Label="Объём" Variant="Variant.Outlined" Immediate />
        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Add" OnClick="NewOrder" Disabled="@(PriceNewOrder <= 0 || SelectedPortfolio is null)" />
    </MudStack>
}