@using BlazorLib.Components.StockSharp

@inherits StockSharpBaseComponent

<tr>
    <th scope="row" title="@Instrument.Name">
        <input type="text" readonly class="form-control-plaintext" value="@Instrument.Code">
    </th>
    <td><MudNumericField Immediate @bind-Value="BasePrice" Variant="Variant.Text" /></td>
    <td>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-outline-warning">buy</button>
            <button type="button" class="btn btn-outline-primary">sell</button>
        </div>
    </td>
    <td><MudNumericField Immediate @bind-Value="ValueOperation" Variant="Variant.Text" /></td>
    <td><MudNumericField Immediate @bind-Value="ShiftPosition" Variant="Variant.Text" /></td>
    <td>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">L1</span>
            <input type="number" class="form-control">
            <span class="input-group-text">L2</span>
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <button class="btn btn-outline-success bi bi-recycle" type="button"></button>
        </div>
    </td>
</tr>